body{
    background: #222;
}
 
#buttons {
    display: flex;
    flex-direction: column;
}
#container {
    border: 3px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    top:170px;
    border-radius: 20px;
    margin-top:-10%;
    margin-left:25%;
}

#heading{
    font-weight: bold;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 5px white,
    0 0 15px whitesmoke,
    0 0 30px whitesmoke,
    0 0 100px whitesmoke;
    margin-left: 15%;
}

#image{
    margin-left: 35%;
    height:200px;
    border: 2px solid white;
    width:200px;
}

.first{
    display: flex;
    flex-direction: column;
}